@import "../../node_modules/antd/dist/antd.less";
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap";

@off-white: #f2f2f2;
@forest-green: #3D9970;

@primary-color: @forest-green;
@link-color: @forest-green;
@body-background: @off-white;
@menu-dark-color: @off-white;
@layout-header-background: #222222;

body {
  font-family: 'Libre Franklin', sans-serif;
}

.social-icon {
  color: @off-white;
  font-size: 33px;
  vertical-align: middle;
  margin-left: 7px;
}

.cover {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.green {
  color: @forest-green;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-item {
  text-align: center;
  width: 95px;
}

.align-right {
  text-align: right;
}

.social-margin {
  margin-right: 25px;
}
