@import "../../node_modules/antd/dist/antd.less";
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap";

@off-white: #f2f2f2;
@light-green: #5cdba2;
@forest-green: #3D9970;
@dark-green: #295b45;

@primary-color: @forest-green;
@link-color: @forest-green;
@body-background: @off-white;
@menu-dark-color: @off-white;
@layout-header-background: #222222;

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12pt;
}

.header-style {
  padding: 0;
  position: fixed;
  width: 100%;
  min-width: 856px;
}

.content-style {
  padding: 50px;
}

.social-icon {
  color: @off-white;
  font-size: 33px;
  vertical-align: middle;
  margin-left: 7px;
}

.cover {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.green {
  color: @forest-green;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-item {
  text-align: center;
  width: 95px;
}

.align-right {
  text-align: right;
}

.social-margin {
  margin-right: 25px;
}

.page-title {
  text-align: center;
}

.new-line {
  padding-bottom: 12px;
}

.vert-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

:root {
	--background:#000;
	--secondary: @forest-green;
	--third: @dark-green;
}

* {
  box-sizing: border-box;
}

body {
  background: #005;
}

.blob {
 	background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  height: 175px;
  transition: all 1s ease-in-out;
  width: 175px;
  position: absolute;
}

@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	} 
	
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	} 
}

.relative {
  position: relative;
}

.about-img {
  border-radius: 50%;
  width: 165px;
  position: absolute;
}

.flex {
  display: flex;
}

.about-row {
  display: flex;
  min-height: 180px;
  flex-flow: nowrap;
}

.tab-style {
  padding-top: 15px;
  text-align: center;
}

.skill-icons {
  font-size: 64px;
  margin: 16px;
}

.img-link {
  text-align: center;
}

.projects {
  margin: 10px;
  margin-bottom: 0;
  margin-top: 10px;
  position: relative;
  transition: .5s ease;
  display: inline-block;
}

.projects img {
  display: block;
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  opacity: 0;
  background-color: black;
  transition: .5s ease;
}

.projects:hover {
  transform: scale(1.1);
}

.projects:hover .overlay {
  opacity: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.search-bar {
  margin-bottom: 15px;
}
